<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Customers | Admin | Sporty Shoes</title>

<style>
	table {
		border:1.5px solid;
	}
	
	td {
		border:1px solid;
		text-align:center;
		padding:5px;
	}
</style>

</head>
<body>

	<h3>All Customers</h3>
	<br/>
	
	<p th:if="${error}" th:text="${error}" style="color:red"></p>
	
	<table>
		<thead>
			<tr>
				<td>Customer ID</td>
				<td>Customer Name</td>
				<td>Customer Email</td>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="cus : ${customer}">
				<td th:text="${cus.cid}"></td>
				<td th:text="${cus.cname}"></td>
				<td th:text="${cus.cemail}"></td>
			</tr>
		</tbody>
	</table>

	<br/>
	<br/>
	<a href="/admin/dashboard">Back</a>


</body>
</html>