<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard | Sporty Shoes</title>
</head>
<body>
	<h2>Welcome to Admin Dashboard</h2>
	<br/>

	<a href="/admin/changePassword">Change Password</a><br/><br/>
	<a href="/admin/addProduct">Add new Product</a><br/><br/>	
	<a href="/admin/deleteProduct">Delete Product</a><br/><br/>	
	<a href="/admin/updatePrice">Update Product Price</a><br/><br/>	
	<a href="/admin/updateQty">Update Product Quantity</a><br/><br/>	
	<a href="/admin/allProduct">View All Products</a><br/><br/>	
	<a href="/admin/allOrders">View All Orders</a><br/><br/>	
	<a href="/admin/ordersByCategory">View Orders by Category</a><br/><br/>	
	<a href="/admin/ordersByDate">View Orders by Date</a><br/><br/>	
	<a href="/admin/allCustomer">View All Customers</a><br/><br/>	
	
	<a href="/admin/login">Log Out</a>
	
</body>
</html>