<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Change Password | Admin | Sporty Shoes</title>
</head>
<body>

	<h3>Change Password</h3>
	
	<p th:if="${error}" th:text="${error}" style="color:red"></p>
	<p th:if="${msg}" th:text="${msg}" style="color:green"></p>
	<form action="/admin/changePassword" method="post">
		<label>Email:</label>
		<input type="email" name="email" required><br/><br/>
		<label>Current password:</label>
		<input type="password" name="currentPassword" required><br/><br/>
		<label>New password:</label>
		<input type="password" name="newPassword" required><br/><br/>
		<input type="submit" value="Change Password" name=changePassword>
		<input type="reset" value="Reset" name="reset">
	</form>
	
	<br/>
	<br/>
	<a href="/admin/dashboard">Back</a>




</body>
</html>