target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.metadata/
.settings/
.project
.classpath
bin/

# Spring Tool Suite (STS)
.apt_generated
.factorypath
.springBeans
.sts4-cache

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs and temp files
*.log
*.tmp
*.bak

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini

# Documentation
HELP.md
